<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <p>
        <label>
    <h1 style="position: relative; text-align: center;">
        Horoscope for {{ horo }}
        </label>
    </h1>
    </p>
    <p style="position: relative; text-align: center;">
        <label>
            <big>
                Period of time: {{ period }}
        </label>
        </big>
    </p>

    {{ description }}

</head>
<body style="background: url(https://top-fon.com/uploads/posts/2021-07/1626995349_42-p-kosmos-fon-rozovii-44.jpg);
            background-size: cover;">
<br>
<a href="#" onclick="history.back();return false;" class="history-back">Main page</a>
</body>
</html>